{% load staticfiles %}
<head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/style-about.css' %}">
        <link rel="stylesheet" href="{% static 'css/style-articles.css' %}">
    </head>
<!-- Navbar-->
<footer>
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <h1 class="h4">Sidi El-Houari Foundation</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
          <div class="col-md-2">
            <h1 class="h4">Fundation</h1>
            <ul class="list-unstyled links">
              <li><a href="#">About us</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h1 class="h4">Friends</h1>
            <ul class="list-unstyled links">
              <li><a href="#">Radio Bahia (92.7 FM)</a></li>
              <li><a href="http://www.entv.dz/">Établissement public de télévision</a></li>
            </ul>

          </div>
          <div class="col-md-3">
            <h1 class="h4">Get in touch</h1>
            <ul class="list-unstyled links">
              <li><a href="mailto:joe@example.com?subject=feedback">joe@example.com</a></li>
              <li><address class="">
                lorem street
              </address></li>
              <li class="footer-logos">
                <a href="#"><img src="{%static 'images/facebook.png' %}" alt="" class="logo"></a>
                <a href="#"><img src="{%static 'images/twitter.png' %}" alt="" class="logo"></a>
                <a href="#"><img src="{%static 'images/instagram.png' %}" alt="" class="logo"></a>
              </li>
            </ul>
          </div>
        </div>

        <hr align="center">
        <p class="copyright">
          Copyright &copy; 2017 - Sidi el Houari Association N° 45457577
        </p>
      </div>
    </footer>