<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Articles</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

    <link rel="stylesheet" href="style-articles.css">
  </head>
  <body>
    <!-- Navbar-->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="navbar-brand logo" src="images/logo.jpg" alt="">
            <a class="navbar-brand" href="#">Lorem ipsum <strong>dolor sit</strong> amet, consectetur.</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-text">
                    <a href="#contact">Contact-us</a>
                </li>
                <li class="nav-text">
                    <a href="#our-sponsors">Our Partners</a>
                </li>
                <li class="nav-text">

                    <a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
                </li>
                <li class="nav-text">
                    <a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign-up</a>
                </li>
            </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--end Navbar-->

    <main class="container">
      <div class="col-md-12 search-box">
        <h3>Search in articles</h3>
        <form class="" action="index.html" method="post">
          <div class="row">
            <div class="form-group col-md-10">
              <input type="text" class="form-control input-lg" placeholder="Search for an article by keyword">
            </div>
            <div class="form-group col-md-2">
              <button class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
            </div>
          </div>
        </form>
      </div>
      <section>
        <article class="col-md-9 push-right">

          <div class="panel panel-default article-element">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3">
                  <a href="#">
                    <img src="https://unsplash.it/1100" alt="" class="img-responsive">
                  </a>
                </div>
                <div class="col-md-9">
                  <p class="element-title">
                    <a href="#">This is a very long title of a document in english and k,czlekjfezlkfjzflkj</a>
                  </p>
                  <p class="element-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <div class="element-footer">
                    Posted by <a href="#">The 3alim</a> on 20/12/2017
                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="panel panel-default article-element">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3">
                  <a href="#">
                    <img src="https://unsplash.it/1100" alt="" class="img-responsive">
                  </a>
                </div>
                <div class="col-md-9">
                  <p class="element-title">
                    <a href="#">This is a very long title of a document in english and k,czlekjfezlkfjzflkj</a>
                  </p>
                  <p class="element-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <div class="element-footer">
                    Posted by <a href="#">The 3alim</a> on 20/12/2017
                  </div>
                </div>

              </div>
            </div>
          </div>



        </article>
        <aside class="col-md-3 pull-left">

          <h3 class="h4">Filter by category:</h3>
          <ul class="list-unstyled">
            <li><a href="#" >Category1</a></li>
            <li><a href="#" >Category1</a></li>
            <li><a href="#" >Category1</a></li>
          </ul>
          <hr>
          <h3 class="h4">Filter by document source:</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#" >Items in the archive (998,635)</a>
            </li>
            <li>
              <a href="#" >Articles from our experts (125) </a>
            </li>
          </ul>

        </aside>
      </section>
    </main>
    <footer>
      <div class="container">

        <div class="row">
          <div class="col-md-5">
            <h1 class="h4">Sidi El-Houari Fundation</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
          <div class="col-md-2">
            <h1 class="h4">Fundation</h1>
            <ul class="list-unstyled links">
              <li><a href="#">About us</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h1 class="h4">Friends</h1>
            <ul class="list-unstyled links">
              <li><a href="#">Radio Bahia (92.7 FM)</a></li>
              <li><a href="http://www.entv.dz/">Établissement public de télévision</a></li>
            </ul>

          </div>
          <div class="col-md-3">
            <h1 class="h4">Get in touch</h1>
            <ul class="list-unstyled links">
              <li><a href="mailto:joe@example.com?subject=feedback">joe@example.com</a></li>
              <li><address class="">
                lorem streetddddddddddddddajfzlkùejfezfez
              </address></li>
              <li class="footer-logos">
                <a href="#"><img src="images/facebook.png" alt="" class="logo"></a>
                <a href="#"><img src="images/twitter.png" alt="" class="logo"></a>
                <a href="#"><img src="images/instagram.png" alt="" class="logo"></a>
              </li>
            </ul>
          </div>
        </div>

        <hr align="center">
        <p class="copyright">
          Copyright &copy; 2017 - Sidi el Houari Association N° 45457577
        </p>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/shave/2.0.0/shave.min.js"></script>
    <script type="text/javascript">
      (function() {
        shave('.element-description',80, {character: '...'});
      }());
    </script>
  </body>
</html>
