
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shagram</title>
    <link rel="shortcut icon" href="{% static 'images/logo.jpg' %}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body>
    {% include "comp/navbar.html" %}
    {% block content %} 
    {% endblock %} 
    <div class="container-fluid">
        {% include "comp/footer.html" %}
    </div>
    {% block javascript %}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% endblock %}

</body>

</html>