{% extends 'base.html' %} 
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/style-articles.css' %}">
{% block content %}
<br>
<br>
<div class="container-fluid">
    {% if events %}
        {% for event in events %}
            {% if event.timing > today %}
                <div class="col-md-offset-0 col-md-12 text-right" style="color: aliceblue;
                    background-image: url('https://bootsnipp.com/dist/img/header-bg.jpg?ver=2.0.0');
                    background-size: cover">
                    <div class="row">
                        <div class="col-md-offsect-0 col-md-12 col-sm-12 col-xs-12">
                            <div class="post">
                                <h2 class="text-center"><strong>العنوان : </strong>{{event.title}}</h2> 
                                <p><strong>الوصف : </strong>{{event.content}}</p>
                                <div class="col-md-6  col-sm-6 col-xs-12"><p><strong>المكان : </strong>{{event.place}}</p></div>
                                <div class="col-md-6  col-sm-6 col-xs-12"><p><strong>الزمان : </strong>{{event.timing}}</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            </hr>
        {% endfor %}
        <br>
    {% endif %}
    <br>
    <div class="row" style="height: 500px;border:3px double #27AE61">
        <div class="col-md-offset-0 col-md-12 col-sm-12 col-xs-12">
            <br>
            <div class="col-md-offset-0 col-md-8 col-sm-12 col-xs-12">
                <div class="post">
                    <h2><strong>العنوان : </strong><a href="{{ post.get_absolute_url }}">{{article.title}}</a></h2> 
                    <hr>
                    <p><strong>الوصف : </strong>{{article.body}}</p>
                    <p><strong>الزمان : </strong>{{article.posted}}</p>
                    <p><strong>القسم : </strong>{{article.categorie}}</p>
                    <p><strong>الكاتب : </strong><a href="">{{article.author}}</a></p>
                </div>
            </div>
            {% for image in images %}
                <img class="col-md-offset-0 col-md-4 col-sm-12 col-xs-12" src="{{ image.image.url }}" style="height: 250px" alt="">
            {% endfor %}
        </div> 
    </div>
    </br>
</div>
{% endblock %}